---
import { PageSection } from "../components/layout/PageSection";
import { PageHeading } from "../components/typography/PageHeading";
import { Paragraph } from "../components/typography/Paragraph";
import Layout from "./layout.astro";

const { content } = Astro.props;
---

<Layout>
    <PageSection hasXPadding={false} isTop={true}>
        <div class="px-6">
            <PageHeading isBlog={true}>{content.title}</PageHeading>
        </div>
        <div class="px-6 my-12">
            <Paragraph>{content.description}</Paragraph>
        </div>
        <img
            src={content.featuredImage}
            class="w-full mb-12"
            alt={content.featuredImageAlt}
        />
        <div
            class="flex justify-start items-center gap-3 text-sm font-light px-6"
        >
            {content.categories.join(", ")}
            <hr class="site-gradient h-0.5 w-8 rounded-lg border-none" />
            <span>{content.publishedAt}</span>
        </div>
    </PageSection>

    <div class="prose antialiased prose-gruvbox px-6 mb-12">
        <slot />
    </div>
</Layout>
